.header-base{
    width: 100%;
    height: 20%;
    margin: 0;
    display: flex;
}

.header-body{
    width: 100%;
    height: 100%;
    display: flex;
    background: darkred;
    flex-direction: row;
    justify-content: space-evenly;
}